@import '../../../variables';

.chat-container{
   padding: 10px 20px;
    box-sizing: border-box;
   
    border: 0;
    display: block;
    width: 100%;
    // background: #fafafa;
    border-bottom: 1px solid #eee;
    /* font-family: Nunito; */
    font-size: 16px; 
}


.card{
   padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    display: block;
    width: 100%;
    // background: rgb(165, 100, 100);
    // border-bottom: 1px solid #eee;
    /* font-family: Nunito; */
    font-size: 16px; 
}

.card-body{
    // background-color: lightseagreen;
    
    margin-bottom: 15px;
    // border-top: 1px solid #eee;
}

.card-title{
    // background-color: lightyellow;
    font-size: 20px;
    font-weight: 500;
}

.messages{
    // background-color: azure;
    min-height: 100px;
    max-height: 500px;
    padding: 14px 0px;
    margin: 0 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    text-align: start;
    overflow: scroll;
    box-shadow: inset 2px 0px 20px -10px rgb(228, 228, 228);
}

.commenter{
    // background-color: plum;
    margin: 17px;
    display: flex;
}

// .pic-container{
//     height: 35px;
//     width: 35px;

// }

.commenter-pic{
    object-fit: cover;
    height: 37px;
    width: 37px;
    border-radius: $border-radius;
    top: 0px;
    left:0px;
    // overflow: hidden;
}

.name{
    font-weight: 700;
    padding: 10px;
}

.name-message{
    // background-color: sandybrown;
    margin-left: 5px;
    // display: flex;
    // flex-wrap: wrap;
}

.message{
    // background-color: seashell;
    margin: 5px 10px;
    // word-break: break-all;
}

.card-footer{
    background-color: lightgray;
    display: flex;

}

.comment-input{
    width: 85%;
    padding: 12px;
    font-size: 18px;
    outline: none;
}

.comment-button{
    width: 15%;
    font-size: 18px;
    border: none;
    padding: 12px;
    background-color: $third-color;
    color: $secondary-text-color;
    font-weight: $font-weight;
    outline: none;
    cursor: $cursor;
}

.comment-button:hover{
    background-color: $blue-hover;
}
.comment-button:focus{
    background-color: $blue-hover;
}