@import '../../../variables';

.card{box-sizing: border-box;
    border: 0;
    display: block;
    width: 100%;
    font-size: 16px; 
}

.card-body{width: 100%;
    margin-bottom: 15px;
}

.card-title{
    font-size: 20px;
    font-weight: 500;
}

.messages{
    min-height: 100px;
    max-height: 500px;
    padding: 14px 0px;
    margin: 0 20px;
    border-top: 1px solid #eee;
    border-bottom: $top-bottom-border;
    color: #555;
    text-align: start;
    overflow: scroll;
    box-shadow: inset 2px 0px 20px -10px rgb(228, 228, 228);
}

.commenter{
    margin: 17px;
    display: flex;
}

.commenter-pic{
    @include profile_pic;
    top: 0px;
    left:0px;
}

.name{
    font-weight: 700;
    padding: 10px;
}

.name-message{
    margin-left: 5px;
}

.message{
    margin: 5px 10px;
}

.card-footer{
    background-color: lightgray;
    display: flex;

}

.comment-input{
    width: 85%;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: $border;
}

.comment-button{
    width: 15%;
    font-size: 18px;
    @include no-border-outline;
    padding: 12px;
    background-color: $third-color;
    color: $secondary-text-color;
    font-weight: $font-weight;
    cursor: $cursor;

}

.comment-button:hover{
    background-color: $blue-hover;
}
.comment-button:focus{
    background-color: $blue-hover;
}

@media screen and(max-width: 1000px){
    .card{
        @include no-margin-yes-width;
    }
    .card-body{
        @include no-margin-yes-width;
        padding-bottom: 10px;
    }
    .messages{
        @include no-margin-yes-width;
    }
}

@media screen and(max-width: 600px){
    .comment-input{
        padding: 5px;
        height: 20px;
        font-size: 14px;
    }
    .comment-button{
    font-size: 16px;
    padding: 5px;
}
}
@media screen and(max-width: 420px){
    .comment-input{
        padding: 5px;
        height: 15px;
        font-size: 12px;
    }
    .comment-button{
    font-size: 12px;
    padding: 5px;
}
}