@import '../../variables';


.page{
    background-image: url('../../assets/land.png');
    height: 100vh;
    @include flex-align-center;
    background-repeat: no-repeat;
    background-color: white;
    background-position: 50% 0%;
}

.container{
    width: 100%;
    height: 50%;
}

.heading{
    color: $secondary-text-color;
    font-weight: 800;
    font-size: 46px;
}

.email-input{
    position: relative;
    width: 50%;
    padding: 16px;
    font-size: 24px;
    font-style: italic;
    box-sizing: border-box;
    border: 0;
    margin: 70px 0;
    outline: none;
    box-shadow: 0px 0px 8px rgb(126, 126, 126);
}

.get-started-button{
    background: $third-color;
    color: $secondary-text-color;
    font-weight: 800;
    padding: 16px;
    font-size: 24px;
    border: 0;
    cursor: $cursor;
    outline:none;
    box-shadow: 0px 0px 8px rgb(126, 126, 126);
}

.get-started-button:hover{
    background-color: $blue-hover;
}
.get-started-button:focus{
    background-color: $blue-hover;
}

@media screen and (max-width: 700px){
    .email-input{
        padding: 12px;
        font-size: 16px;
        width: 60%;
    }
    .get-started-button{
        padding: 12px;
        font-size: 16px;
    }
}

@media screen and (max-width: 550px){
    .heading{
        margin: 0 20px;
        display: inline-block;
        font-size: 38px;
    }
    .email-input{
        width: 60%;
    }
}
@media screen and (max-width: 480px){
    .heading{
        margin: 0 20px;
        display: inline-block;
        font-size: 32px;
        font-weight: 800;
    }
    .email-input{
        padding: 10px;
        font-size: 14px;
        width: 60%;
    }
    .get-started-button{
        padding: 10px;
        font-size: 14px;
    }
}
@media screen and (max-width: 410px){
    .heading{
        margin: 0 20px;
        // background-color: lightsalmon;
        display: inline-block;
        font-size: 30px;
        font-weight: 800;
    }
    .email-input{
        padding: 8px;
        font-size: 12px;
        width: 65%;
    }
    .get-started-button{
        padding: 8px;
        font-size: 12px;
    }
}