.task-container{
    width: 230px;
    min-height: 230px;
    background-color: whitesmoke;
    margin: 5px;
    text-decoration: none;
    color:rgb(29, 29, 29);
}

#task-img{
    height: 130px;
    width: 210px;
    margin-top: 5px;
}

.assigned-thumbnail{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}