@import '../../variables';

.task-card{
    width: 270px;
    min-height: 80px;
    background-color: $card-color;
    margin-top: 15px;
    color:rgb(29, 29, 29);
    padding: 15px;
    text-align: left;
    box-shadow: $shadow;
}

#task-img{
    height: auto;
    width: 270px;
    margin-bottom: 5px;
    object-fit: cover;
}

.title{
    font-weight: 500;
    font-size: 20px;
}

.assigned-thumbnail{
    object-fit: cover;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}