@import '../../../variables';

.toggle{
    @include add-task-selections;
}

ul {
    // background-color: teal; 
    list-style-type: none;
    display: flex;
    // align-items: initial;
    flex-direction: column;
    max-height: 110px;
    width: 200px;
    overflow: scroll;
}

li{
    // background-color: violet;
    height: 35px;
    width: 100%;
    margin: 3px;
    align-items: flex-start;
}

.search-result{
    /* background-color: paleturquoise; */
    @include flex-align-center;
    top: 0px;
    left: 0px;
}

.search-input-and-results{
    // background-color: tomato;
    // width: 250px;
    display: flex;
    flex-direction: column;
}

.search-bar-and-button{
    @include search-bar-and-button;
}

.search-input{
    @include inputs;
}

.close-button{
    @include close-button;
}



.em-search-image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 8px;
}

.name-result{
    font-size: 16px;
    // background-color: lightseagreen; 
}