@import '../../variables';

.dash{
    display: flex;
    justify-content: space-evenly;
    // width: 80vw;
    background-color: $background-color;
}
.posts-column{
    // background-color: linen;
    width: 300px;
    height: 100vh;
    margin: 5px;
    overflow:scroll;
    padding: 5px;
    // display: flex;
    // flex-wrap: wrap;
}

.title-container{
    // background-color: mistyrose;
    display: flex;
    justify-content: flex-start;
}

.column-title{
    font-weight: $font-weight;
    color: $primary-text-color;
    font-size: 26px;
    margin-top: 15px;
}

.underline{
    @include underline;
    background-color: $third-color;
}
.underline-orange{
    @include underline;
    background-color: rgb(255, 184, 53);
}
.underline-green{
    @include underline;
    background-color: rgb(40, 215, 40);
}

.tasks{
    margin-top: 20px;
    // background-color: lightgray;
    overflow: scroll;
}
.task{
    // background-color: lightsalmon;
}

@media screen and (max-width: 1150px){
    .dash{
        // background-color: lightseagreen;
    }
    .column-title{
        margin-top: 70px;
    }
}
@media screen and (max-width: 980px){
    .dash{
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .posts-column{
    width: 300px;
    height: 600px;
    margin: 5px;
    // overflow:scroll;
    padding: 5px;
}
// .tasks{
//     overflow: scroll;
// }
}
@media screen and (max-width: 650px){
    .dash{
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .posts-column{
    width: 300px;
    height: 650px;
    margin: 5px;
    // overflow:scroll;
    padding: 5px;
}
}