@import '../../variables';

.dash{
    display: flex;
    justify-content: space-evenly;
    background-color: $background-color;
    height: 100vh;
}
.posts-column{
    width: 300px;
    height: 90vh;
    margin: 5px;
    padding: 5px;
    overflow: scroll;
}

.title-container{
    display: flex;
    justify-content: flex-start;
}

.column-title{
    font-weight: $font-weight;
    color: $primary-text-color;
    font-size: 26px;
    margin-top: 15px;
}

.underline{
    @include underline;
    background-color: $third-color;
}
.underline-orange{
    @include underline;
    background-color: rgb(255, 184, 53);
}
.underline-green{
    @include underline;
    background-color: rgb(40, 215, 40);
}

.tasks{
    margin-top: 20px;
}

@media screen and (max-width: 1150px){
    .column-title{
        margin-top: 70px;
    }
}
@media screen and (max-width: 980px){
    .dash{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .posts-column{
    width: 300px;
    max-height: 600px;
}
}
@media screen and (max-width: 650px){
    .dash{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .posts-column{
    width: 300px;
    max-height: 600px;
    min-height: 100px;
}
}