@import '../../variables';

.add-task-page{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.add-task-container{
    background-color: #ffffff;
    box-shadow: $shadow;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    margin: 20px;
}

.title-input{
    @include big-inputs;
    border: $border;
}

.select_folder{
    display: flex;
    justify-content: start;
}

#status{
    height: 40px;
    width: 100px;
    padding-left: 12px;
    margin: $fifteen-zero;
    font-size: 14px;
    text-align: center;
    border-radius: 0;
    @include no-border-outline;
    cursor: $cursor;
    box-shadow: inset 2px 0px 20px -10px rgb(228, 228, 228);
}

.select_folder{
    @include flex-align-center;
    margin: 0 20px;
}

.line-spacing{
    height: 1px;
}

.assign-folder-container{
    @include flex-align-center;
    margin: $fifteen-zero;
}

.assign-and-folder{
    @include flex-align-center;
}

.em-search-image{
    object-fit: cover;
    @include twenty-height-width;
}

.remove{
    border: none;
    font-weight: 500;
    font-size: 14px;
    @include twenty-height-width;
    text-align: center;
    margin-left: 5px;
    cursor: $cursor;
}

.img-input{
    outline: none;
    border: $border;
    padding: 5px;
    width: 20%;
    margin: fifteen-zero;
}



.desc-input {
    @include no-border-outline;
    height: 110px;
    padding: 12px;
    font-size: 17px;
    margin: 20px 0;
    border-top: $top-bottom-border;
    border-bottom: $top-bottom-border;
    
}

.add-task-btns{
    @include square-buttons;
    margin: 0 10px;
}

.add-task-btns:hover{
    background-color: $blue-hover;
}
.add-task-btns:focus{
    background-color: $blue-hover;
}

@media screen and (max-width: 500px){
    .add-task-page{
        margin-top: 10px;
    }
    .add-task-container{
        width: 90vw;
        padding: 20px;
    }
}