//brand colors
$primary-color: #2ab9f1;
$third-color: rgb(23, 133, 244);

//text 
$primary-text-color: rgb(65, 65, 65);
$secondary-text-color: white;
$font-weight: 700;
$font-size: 16px;

//background colors
// $background-color: #fefefe;
$background-color: rgb(252, 252, 252);
$card-color: rgb(255, 255, 255);
$shadow: 1px 1.5px 4px rgb(232, 232, 232);

//image
$border-radius: 50%;

//inputs
$border: 1px solid rgb(237, 237, 237);

//buttons
$blue-hover: #0c73da;

$cursor: pointer;

//nav bar
@mixin nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
}

//buttons
@mixin rounded-buttons {
    color: white;
    border: 2.2px solid white;
    background: transparent;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    margin: 0 15px;
    cursor: $cursor;
    outline: none;
}

@mixin square-buttons {
    border: none;
    background-color: $third-color;
    color: $secondary-text-color;
    outline: none;
    cursor: $cursor;
    border-radius: 3px;
    padding: 5px 7px;
    font-weight: 600;
    font-size: 16px;
}

@mixin nav-btn-hover-focus{
    background-color: white;
    color: $primary-text-color
}

//input stuff

@mixin small-inputs{
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    border: 0;
    margin: 5px;
    background-color: $background-color;
    outline:none;
}

@mixin inputs{
    width: 80%;
    outline: none;
    border: $border;
}

@mixin big-inputs{
    padding: 14px;
    font-size: 26px;
    // font-style: italic;
    box-sizing: border-box;
    border: 0;
    outline: none;
}
@mixin no-border-outline{
    border: none;
    outline: none;
}

@mixin add-task-selections{
    background-color: #f7f7f7;
    box-shadow: inset 2px 0px 20px -10px rgb(228, 228, 228);
    padding: 7px;
    border-radius: 3px;
    margin: 10px 0;
    margin-right: 8px;
    cursor: $cursor;
}

@mixin search-bar-and-button{
    height: 25px;
    display: flex;
}

 @mixin close-button{
    width: 20%;
    background-color: #f7f7f7;
    outline: none;
}

@mixin underline{
    height: 3px;
    width: 100%;
}

//flex
@mixin flex-align-center{
    display:flex;
    align-items: center;
}

@mixin flex-align-spacebtw{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

@mixin flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//img
@mixin profile_pic{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}