@import '../../variables';

.land-bar{
    height: 60px;
    width: 100%;
    position: fixed;
   
}

.land-contents{
    height: 60px;
    margin: 0 15px;
    @include flex-align-center;
    justify-content: space-between;
}

.nav-bar{
    // background-color: dodgerblue;
    background-color: $primary-color;
    height: 60px;
    @include flex-align-center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0px 2px 5px rgb(203, 203, 203);
    z-index: 3;
}

.logo{
    color: $secondary-text-color;
    font-weight: 700px;
    font-size: 26px;
    text-decoration: none;
}

.nav-right{
    @include flex-align-center;
}

.show-logout{
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: $cursor;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRF7RrRAhB3b6xIHZmZxgU77Hpst4ZpOj_vjeWjvY8vCjNQk3Yn&usqp=CAU');
}

// .profile-info{
//     display: flex;
//     align-items: center;
// }


.nav-profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    // margin-top: 8px;
    object-fit: cover;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRF7RrRAhB3b6xIHZmZxgU77Hpst4ZpOj_vjeWjvY8vCjNQk3Yn&usqp=CAU');
    box-shadow: 1px 1.5px 4px rgb(113, 113, 113)
}

.logout-dropdown{
    position: absolute; 
    top: 100%; 
    right: 0; 
    width: 150px; 
    z-index: 2; 
    border: 1px solid rgba(0, 0, 0, 0.04); 
    box-shadow: 0 2px 15px 1px rgba(108, 108, 108, 0.14);
    margin-top: 10px;
    @include flex-align-center;
    background-color: white;
}

.logout-list{
    list-style: none;
    padding: 0;
    margin: 0;
    color: $primary-text-color;
}

.dropdown-items{
    margin-top: 5px;
    font-weight: 650;
}

.dropdown-items:hover{
    color: $third-color;
    cursor: $cursor;
}

.nav-buttons{
    @include rounded-buttons;
}

.nav-buttons:hover{
    @include nav-btn-hover-focus;
}
.nav-buttons:focus{
    @include nav-btn-hover-focus;
}

.land-input{
    @include small-inputs;
}

