.auth{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auth-form{
    background-color: aliceblue;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    background-color: lightgoldenrodyellow;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    
}